@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 1.0000 0 0;
    --foreground: 0.2101 0.0318 264.6645;
    --card: 1.0000 0 0;
    --card-foreground: 0.2101 0.0318 264.6645;
    --popover: 0.8699 0 0;
    --popover-foreground: 0.2101 0.0318 264.6645;
    --primary: 0.7318 0.1106 94.0877; /* Gold */
    --primary-foreground: 1.0000 0 0;
    --secondary: 0.3715 0 0; /* Deep Charcoal */
    --secondary-foreground: 1.0000 0 0;
    --muted: 0.8141 0 0;
    --muted-foreground: 0.3092 0 0;
    --accent: 0.5727 0 0;
    --accent-foreground: 1.0000 0 0;
    --destructive: 0.6368 0.2078 25.3313;
    --destructive-foreground: 0.9851 0 0;
    --border: 0.9276 0.0058 264.5313;
    --input: 0.9276 0.0058 264.5313;
    --ring: 0.7318 0.1106 94.0877;
    --radius: 0.75rem;
  }

  .dark {
    --background: 0.1496 0 0; /* Deepest Black */
    --foreground: 0.8109 0 0; /* Marble White */
    --card: 0.1822 0 0;
    --card-foreground: 0.8109 0 0;
    --popover: 0.1822 0 0;
    --popover-foreground: 0.8109 0 0;
    --primary: 0.7318 0.1106 94.0877; /* Metallic Gold */
    --primary-foreground: 0.1797 0.0043 308.1928;
    --secondary: 0.5999 0 0;
    --secondary-foreground: 0.1797 0.0043 308.1928;
    --muted: 0.2520 0 0;
    --muted-foreground: 0.6268 0 0;
    --accent: 0.3211 0 0;
    --accent-foreground: 0.8109 0 0;
    --destructive: 0.5940 0.0443 196.0233;
    --destructive-foreground: 0.1797 0.0043 308.1928;
    --border: 0.2520 0 0;
    --input: 0.2520 0 0;
    --ring: 0.7318 0.1106 94.0877;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
